<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="sample">
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
//]]>
</script>
<div id="article_record" >
<label for="title" >标题</label>
<input id="title" type="text" ></input>
<label for="author" >作者(选填)</label>
<input id="author" type="text" ></input>
<label for="cover" >封面</label>
<input id="cover" type="file" ></input>
<label for="abstract" >摘要</label>
<input id="abstract" type="text" ></input>
<textarea id="editor" name="area3" style="width: 800px; height: 100px;">
</textarea>
</div>
</div>
</body>
</html>