{% for review in reviews %}
<div class="list-group-item">      
  <table class="comment">
    <tr>
      <td style="width:20%">
      <img class="userpic img-circle" src="{{review.author_image}}"/>
      <div class="username">{{review.author_name}}</div>
	  </td>
	  <td style="width:80%">              
        <article>
          <header>
            <div>{{review.title}}</div>
            <div>{{review.rating}}星    {{review.published}}</div>
          </header>
          <section>
          <a href="{{review.link}}">{{review.summary}}</a>
          </section>
          <footer>
            <span>点赞{{review.votes}}   鄙视{{review.useless}}</span>
          </footer>
        </article>
      </td>
    </tr>
  </table>
</div>
{% endfor %}