{% extends "base/base.html" %}

{% block title %}
<title>{{name}}_点书</title>
{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/online_search_page.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="content">
<div id="book">
<dl>
  <dd>
  <ol class="media-list" id="search-results">
  </ol>
  </dd>
</dl>
<p id="search-more"><span class="icon-spinner icon-spin"></span><a> 哎哟~~~</a></p>
</div>
</div>
<div id="right-bar">
<dl>
  <dt><h4><span class="glyphicon glyphicon-eye-open"></span> 最近搜索</h4></dt>
  <dd>
  <ol class="list-unstyled" id="search-history">
  </ol>
  </dd>
</dl>
<dl id="view-history-clear">
  <dt><h4><span class="glyphicon glyphicon-time"></span> 最近查看</h4></dt>
  <dd>
  <ol class="list-unstyled" id="view-history">
  </ol>
  </dd>
</dl>
</div>
{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}js/online_search_page.js"></script>
{% endblock %}