{% extends "base/base.html" %}

{% block title %}
<title>点书|带着好心情读点书</title>
{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/online_home_page.css" rel="stylesheet">
<style>
#background{
        position:absolute;
        width:100%;
        height:1010px;
        background-image:url({{STATIC_URL}}img/background.jpg);
        background-size:cover;
        -moz-background-size:cover;
        background-attachment:fixed;
        background-position:left center;
        /*-webkit-filter:blur(5px);*/
        -webkit-filter: grayscale(0.5);
        z-index:-2;
}
</style>
{% endblock %}

{% block content %}
<div id="background">
</div>
<div id="content-background">
</div>
<div id="content">
<div id="descriptions">
<h3><em>书籍是人类进步的阶梯</em></h3>
<p><em>——高尔基</em></p>
<h3 id="question">你多久没有进步了?</h3>
<p>可能因为，很多时候，读书是一件痛苦的事情</p>
<p>所以，很多人望而却步<p>
<small>其实，读书也可以很快乐</small>
<h4>扫右侧二维码，一起寻找读书的乐趣</h4>
</div>
<div id="user-count">
<p id="count-description">一起读书的用户数：</p>
<p id="count"></span></p>
</div>
</div>
<div id="bcode-img">
<img src="{{STATIC_URL}}img/qrcode.jpg" alt="Oops~~~图片去哪了？">
</div>
</div>
<div id="msg-background">
</div>
<div id="msg">
<!-- article-news -->
<div id="article-news">
<dl>
  <dt><h4><span class="glyphicon glyphicon-book"></span> 最新文章</h4></dt>
  <dd>
  <ol class="list-unstyled">
  {% for article in article_list %}
    <li>
    <span class="label label-default order-label">{{forloop.counter}}</span>
    {% ifequal forloop.counter 1 %}
    <a article-id="{{article.id}}" href="#article-dialog" class="navbar-link"  data-toggle="modal">{{article.title}} <span class="badge badge-new">new</span></a>
    {% else %}
    <a article-id="{{article.id}}" href="#article-dialog" class="navbar-link"  data-toggle="modal">{{article.title}}</a>
    {% endifequal %}
    <span class="label label-default date-label">{{article.publish_date}}</span>
    </li>
  {% endfor %}
</ol>
  </dd>
</dl>
</div>
<!-- product-news -->
<div id="product-news">
<dl>
  <dt><h4><span class="glyphicon glyphicon-comment"></span> 最新消息</h4></dt>
  <dd>
  <ol class="list-unstyled">
    <li>点书正式发布啦<span class="label label-default date-label">2014年05月04日</span></li>
  </ol>
  </dd>
</dl>
</div>
</div>
<div id="footer-background">
</div>
<div id="footer">
<p><i class="icon-comments"></i>点书</p>
<p id="copyright">Copyright © 2014 dianshu. All Rights Reserved</p>
</div>
<!-- article-details-dialog -->
<div class="modal fade" id="article-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><strong  id="article-title"></strong></h3>
        <p class="label label-default date-label" id="publish-date"></p>
      </div>
      <div class="modal-body">
        <p id="article-content"></p>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.article-details-dialog -->
{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}js/online_home_page.js"></script>
{% endblock %}
