<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>点书|带着好心情读点书</title>
<link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" >
<link href="http://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/home_page.css" rel="stylesheet">
<style>
body{
        background-image:url({{STATIC_URL}}img/background.jpg);
        background-size:cover;
        background-attachment:fixed;
        background-position:left center;
}

</style>
</head>
<body>
<div id="background">
</div>
<div id="banner-background">
</div>
<div id="banner">
<p id="product-name"><i class="icon-comments"></i>点书</p><p id="vertical-line">|</p><p id="slogan">带着好心情读点书</p>
<p id="about" data-toggle="tooltip" data-placement="bottom" title="这只是一个好玩的微信公众号，到底有多好玩，我也不知道，呵,吧啦吧啦吧啦"><span class="glyphicon glyphicon-info-sign"></span> 关于点书</p>
</div>
<div id="content-background">
</div>
<div id="content">
<div id="descriptions">
<h2>点书：一个可以自助查询图书信息的公众号</h2>
<dl>
  <dt><h4><span class="glyphicon glyphicon-bookmark"></span> 功能介绍</h4></dt>
  <dd>
  <ol class="list-unstyled">
    <li><h4><i class="icon-check"> 书评推送</i></h4></li>
    <li><h4><i class="icon-check"> 好书推荐</i></h4></li>
    <li><h4><i class="icon-check"> 图书查询</i></h4></li>
    <li><h4><i class="icon-check"> 评论聚合</i></h4></li>
  </ol>
  </dd>
</dl>
<div id="user-count">
<p>在这里，您可以与<span>159</span>位用户一起读书</p>
</div>
</div>
<div id="bcode-img">
<img src="{{STATIC_URL}}img/qrcode.jpg" alt="Oops~~~图片去哪了？">
</div>
</div>
<div id="msg-background">
</div>
<div id="msg">
<!-- article-news -->
<div id="article-news">
<dl>
  <dt><h4><span class="glyphicon glyphicon-book"></span> 最新文章</h4></dt>
  <dd>
  <ol class="list-unstyled">
  {% for article in article_list %}
    <li><span class="label label-default order-label">{{forloop.counter}}</span><a article-id="{{article.id}}" href="#article-dialog" class="navbar-link"  data-toggle="modal">{{article.title}}</a><span class="label label-default date-label">{{article.publish_date}}</span></li>
  {% endfor %}
</ol>
  </dd>
</dl>
</div>
<!-- product-news -->
<div id="product-news">
<dl>
  <dt><h4><span class="glyphicon glyphicon-comment"></span> 最新消息</h4></dt>
  <dd>
  <ol class="list-unstyled">
    <li>12312321231232123123222123112312321231233112123123311212312331212312331121231233112321231232123123212312322321221as22<span class="label label-default date-label">2014年3月15日</span></li>
    <li>1231232<span class="label label-default date-label">2014年3月15日</span></li>
    <li>1231232<span class="label label-default date-label">2014年3月15日</span></li>
    <li>1231232<span class="label label-default date-label">2014年3月15日</span></li>
    <li>1231232<span class="label label-default date-label">2014年3月15日</span></li>
  </ol>
  </dd>
</dl>
</div>
</div>
<div id="footer-background">
</div>
<div id="footer">
<p>Copyright © 2014 dianshu. All Rights Reserved</p>
</div>
<!-- article-details-dialog -->
<div class="modal fade" id="article-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><strong  id="article-title"></strong></h3>
        <p class="label label-default date-label" id="publish-date"></p>
      </div>
      <div class="modal-body">
        <p id="article-content"></p>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.article-details-dialog -->

<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/home_page.js"></script>
</body>
</html>
