<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Test Page</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
$(function () {
    $('#myTab a:first').tab('show')
  })
</script>
<style type="text/css">
#cover{
	width:100px;
	height；200px;
}
</style>
</head>
<body>
<!-- cover -->
<div id="cover">
<img class="img-responsive" src="http://img3.douban.com/lpic/s6384944.jpg" alt="封面不存在">
</div>

<!-- tag cloud -->
<div id="tags">
<span class="label label-default">Windows 配置规范<span class="badge" style="background:white;color:rgb(153,153,153)">21339</span></span>
<span class="label label-default">SQL Server 配置规范<span class="badge" style="background:white;color:rgb(153,153,153)">12790</span></span>
<span class="label label-default">mySQL 配置规范(Linux)<span class="badge" style="background:white;color:rgb(153,153,153)">1433</span></span>
<span class="label label-default">Oracle 配置规范(Windows)<span class="badge" style="background:white;color:rgb(153,153,153)">55</span></span>
<span class="label label-default">AIX 配置规范<span class="badge" style="background:white;color:rgb(153,153,153)">328</span></span>
<span class="label label-default">Nginx 配置规范(Linux)<span class="badge" style="background:white;color:rgb(153,153,153)">2343</span></span>
<span class="label label-default">Cisco Router 配置规范<span class="badge" style="background:white;color:rgb(153,153,153)">232367</span></span>
<span class="label label-default">HP-UX 配置规范<span class="badge" style="background:white;color:rgb(153,153,153)">4378</span></span>
</div>

<!-- judge chart -->
<div id="judges">
<div class="progress">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: black">
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="72.54" aria-valuemin="0" aria-valuemax="100" style="width: 72.54%; background-color: black">
  </div>
  <span>&nbsp;72.54%</span>
</div>
<div class="progress">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="19.28" aria-valuemin="0" aria-valuemax="100" style="width: 19.28%; background-color: black">
  </div>
  <span>&nbsp;19.28%</span>
</div>
<div class="progress">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="7.25" aria-valuemin="0" aria-valuemax="100" style="width: 7.25%; background-color: black">
  </div>
  <span>&nbsp;7.25%</span>
</div>
<div class="progress" style="background-color: white">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="0.85" aria-valuemin="0" aria-valuemax="100" style="width: 0.85%; background-color: black">
  </div>
  <span>&nbsp;0.85%</span>
</div>
<div class="progress" style="background-color: white;border-solid;border-top-width:0px">
  <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="0.08" aria-valuemin="0" aria-valuemax="100" style="width: 0.08%; background-color: black">
  </div>
  <span>&nbsp;0.08%</span>
</div>
</div>
<!-- comment tab -->
<div id="comments">
<ul id="myTab" class="nav nav-tabs">
  <li><a href="#douban" data-toggle="tab">Home</a></li>
  <li><a href="#sina" data-toggle="tab">Profile</a></li>
  <li><a href="#tencent" data-toggle="tab">Messages</a></li>
  <li><a href="#renren" data-toggle="tab">Other</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="douban">
    <div class="list-group">
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
    </div>
    </div>
    <div class="tab-pane fade" id="sina">
    <div class="list-group">
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
    </div>
    </div>
    <div class="tab-pane fade" id="tencent">
     <div class="list-group">
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
    </div>
    </div>
       <div class="tab-pane fade" id="renren">
     <div class="list-group">
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
      <div class="list-group-item"></div>
    </div>
    </div>
</div>
</div>
</body>
</html>